<!DOCTYPE html>
<html>
<head>
    <title>Orders Management System</title>

    <style>
        body{
            font-family:Arial;
            text-align:center;
            margin-top:100px;
        }

        button{
            padding:15px;
            font-size:18px;
            cursor:pointer;
        }
    </style>
</head>

<body>

<h1>Docker + Flask + PostgreSQL</h1>

<h2>Orders Management System</h2>

<p>Click below to view all orders.</p>

<a href="/orders">
    <button>View Orders</button>
</a>

</body>
</html>
